.box {
  margin: 0;
  padding: 0;
  width: 100%;
}
.center {
  width: 1263px;
  height: 100%;
  margin: auto;
}
.biaoti {
  width: 100%;
  height: 192px;
  position: relative;
  background-color: #fee9e6;
}
.biaoti img {
  width: 596px;
  height: 92px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.biaoti2 {
  width: 100%;
  height: 75px;
  padding: 50px 0;
  background-color: #fee9e6;
}
.biaoti2 img {
  display: block;
  margin: auto;
}
.biaoti2{
    width: 100%;
    height: 75px;
    padding: 50px 0;
    background-color: #fee9e6;
}
.biaoti2 img{
    display: block;
    margin: auto;
}