.zhujian {
  width: 100%;
  overflow: hidden;
}
.center {
  width: 1263px;
  height: 526px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.ul {
  width: 100%;
  height: 100%;
}
.ul li {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  right: -1263px;
}
.ul li:nth-child(1) {
  right: 0px;
}

.ul li img {
  width: 100%;
  height: 100%;
}
.div {
  width: 105px;
  height: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
.div div {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgb(255, 191, 191);
  background: transparent;
  opacity: 1;
  margin: 0 5px;
  text-indent: 9999px;
  cursor: pointer;
}
.div div:nth-child(1) {
  background: #fff;
}
.zuo {
  width: 33px;
  height: 62px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  opacity: 0;
  transition: all 0.3s 0s;
  cursor: pointer;
}
.you {
  width: 33px;
  height: 62px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  opacity: 0;
  transition: all 0.3s 0s;
  cursor: pointer;
}
.zuo img,
.you img {
  width: 100%;
  height: 100%;
}
.ul:hover~.zuo{
  opacity: 1;
}
.ul:hover~.you{
  opacity: 1;
}
.zuo:hover{
  opacity: 1;
}
.you:hover{
  opacity: 1;
}